.favorite_1{
    display: block;
    width: 354px;
    height: 404px;
    position: absolute;
    top: 140px;
    left: 11px;
    border-radius: 3px;
    border: 1px solid #cecece;
    border-bottom: 1px solid #c0c0c0;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
    z-index: 5;
}
.favorite_title_div{
    width: 100%;
    height: 50px;
    background-color: #ff5e62;
    display: flex;
    align-items: center;
}
#favorite_title_p{
    margin: 0;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 18px;
    margin-left: 20px;
}
.favorite_title_div p{
    margin: 0;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 15px;
    margin-left: 10px;
}
.favorite_main_div{
    width: 100%;
    height: 305px;
    background-color: white;
    display: flex;
    align-items: center;
}
.favorite_end_div{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}
.favorite_end_div button{
    display: block;
    border: 1px solid red;
    width: 354px;
    height: 50px;
    border-radius: 3px;
    border: 0px;
    outline: none;
    background-color:#ff5e62 ;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
    z-index: 2;
    color: white;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px;
}
.favorite_end_div button:hover{
    background-color: #ff5e61b2;
}