.Favorite_3_main {
  width: 354px;
  height: 682px;
  position: absolute;
  top: 130px;
  left: 11px;
  z-index: 4;
}
.Favorite_3_main_div {
  display: flex;
  width: 354px;
  height: 372px;
  position: absolute;
  border-radius: 3px;
  border: 1px solid #cecece;
  border-bottom: 1px solid #c0c0c0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
  z-index: 5;
  flex-direction: column;
}
.favorite_title_div2 {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgb(231, 231, 231);
  background-color: rgb(255, 255, 255);
}
.favorite_title_div2 p {
  margin: 0;
  color: black;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13.5px;
  font-weight: 500;
  
}

#back_step {
  position: absolute;
  left: 10px;
  top: 12px;
  background-image: url("../img/left-arrow-black.png");
  background-size: cover;
  border: none;
  outline: none;
  width: 18px;
  height: 18px;
  background-color: white;
}
#cancle_step{
  position: absolute;
  right: 10px;
  top: 14px;
  background-image: url("../img/cancel_black.png");
  background-size: cover;
  border: none;
  outline: none;
  width: 12px;
  height: 12px;
  background-color: white;
}
.Favorite_3_main_div_scroll {
  width: 100%;
  height: 362px;
  overflow-y: auto;
}
#favorite_title_p2 {
  margin: 0;
  color: white;
  font-family: "Do Hyeon", sans-serif;
  font-size: 18px;
  margin-left: 50px;
}
.favorite_item_div {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-bottom: 1px solid rgb(231, 231, 231);
}
.favorite_item_div2{
  width: 100%;
  height: auto;
  margin-top: 10px;
}
.favorite_item_div p {
  margin: 0px;
  margin-top: 15px;
  margin-left: 20px;
  font-weight: 600;
  font-size: 13px;
  color: black;
}
.favorite_enviroment_item_div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 10px;
}
.favorite_enviroment_item_div button {
  width: auto;
  height: auto;
  outline: none;
  background-color: #f3f4fc;
  color: #8b99ff;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
  z-index: 2;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: 0px;
  margin-left: 15px;
  border-radius: 3px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}
.favorite_enviroment_item_div button:hover {
  width: auto;
  height: auto;
  outline: none;
  background-color: #8b99ff;
  color: #fff;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
  z-index: 2;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 12px;
  font-weight: 500;
  border: 0px;
  margin-left: 15px;
  border-radius: 3px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 10px;
}
.gongbak {
  width: 100%;
  height: 30px;
}
.gipho {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 280px;
  border-radius: 3px;
  border: 1px solid #cecece;
  border-bottom: 1px solid #c0c0c0;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
}
.controlbox_main {
  position: absolute;
  top: 190px;
  left: 370px;
  width: 300px;
  height: 150px;
  border-radius: 3px;
  border: 1px solid #cecece;
  border-bottom: 1px solid #c0c0c0;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
  z-index: 5;
}
.controlbox_title {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(240, 239, 239);
}
.controlbox_title p {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  color: #696969;
  font-weight: 600;
  margin-left: 20px;
}
#controlbox_title_p {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  color: #8b99ff;
  font-weight: 500;
  margin-left: 10px;
}
.range {
  position: absolute;
  top: 60px;
  width: 90%;
  margin-left: 5%;
  height: 80px;
  background-color: #fff;
  border-radius: 10px;
}
.range .slidervalue {
  position: relative;
  width: 100%;
}
.range .slidervalue span {
  position: absolute;
  height: 25px;
  width: 25px;
  color: #fff;
  font-weight: 500;
  top: -5px;
  left: 50px;
  transform: translateX(-50%);
  line-height: 55px;
  z-index: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.range .slidervalue span:after {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  background-color: #5d6ef0;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border: 3px solid #fff;
  z-index: -1;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.range .field {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.range .field .value {
  position: absolute;
  font-size: 18px;
  font-weight: 600;
  color: #5a6dfc;
  z-index: 7;
}
.left {
  font-size: 13px;
  position: absolute;
  left: 20px;
  display: flex;
  font-weight: bold;
  color: black;
}
.right {
  font-size: 13px;
  position: absolute;
  font-weight: bold;
  right: 18px;
  color: black;
}
.controlbox_range input {
  -webkit-appearance: none;
  height: 8px;
  width: 73%;
  background-color: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
  z-index: 7;
}
.controlbox_range input::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background-color: #5a6dfc;
  border-radius: 50%;
  border: 1px solid #5a6dfc;
  cursor: pointer;
}
.controlbox_button {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 30px;
  bottom: 0;
}
#controlbox_onclick2  {
  width: 100%;
  height: 30px;
  background-color: #ececec;
  border: 1px solid rgb(236, 236, 236);
  outline: none;
  color: rgb(94, 94, 94);
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
  z-index: 2;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
#controlbox_onclick2:hover {
  width: 100%;
  height: 30px;
  background-color: #5a6dfc34;
  border: 1px solid rgb(236, 236, 236);
  outline: none;
  color: #5a6dfc;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
  z-index: 2;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
#controlbox_onclick1 {
  width: 100%;
  height: 30px;
  background-color: #f1f1f1;
  border: 1px solid rgb(236, 236, 236);
  outline: none;
  color: rgb(94, 94, 94);
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
  z-index: 2;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
#controlbox_onclick1:hover {
  width: 100%;
  height: 30px;
  background-color: #fa4c4c23;
  border: 1px solid rgb(236, 236, 236);
  outline: none;
  color: #fa4c4c;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
  z-index: 2;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.controlbox_title button {
  position: absolute;
  right: 10px;
  top: 12px;
  background-image: url("../img/cancel_white.png");
  background-size: cover;
  border: none;
  outline: none;
  width: 15px;
  height: 15px;
  background-color: #8b99ff;
}
.gipho_title {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid rgb(231, 231, 231);
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}
.gipho_title p {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin: 0;
  color: black;
}
.gipho_select_item {
  width: auto;
  height: auto;
  background-color: #4056fc;
  color: #fff;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
  font-family: "Do Hyeon", sans-serif;
  font-size: 14px;
  border: 0px;
  margin-left: 26px;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
.gipho_select_item p {
  margin: 0;
}
#gipho_select_item_p {
  margin: 0;
  margin-left: 30px;
  display: flex;
  font-size: 14px;
  margin-right: 25px;
}
.gipho_main {
  display: flex;
  width: 100%;
  height: 217px;
  flex-direction: column;
  overflow-y:scroll;
  align-items: flex-start;
}
.gipho_select_item button {
  background-image: url("../img/cancel_white.png");
  background-size: cover;
  border: none;
  outline: none;
  width: 18px;
  height: 18px;
  background-color: #4056fc;
}
#gipho_select_button {
  width: 100%;
  height: 33px;
  background-color: #6075eb;
  outline: none;
  color: #fff;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
  z-index: 2;
  font-family: "Do Hyeon", sans-serif;
  font-size: 16px;
  border: 0px;
}
#gipho_select_button:hover{
  width: 100%;
  height: 33px;
  background-color: #6075ebbb;
  outline: none;
  color: #fff;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
  z-index: 10;
  font-family: "Do Hyeon", sans-serif;
  font-size: 16px;
  border: 0px;
}
#favorite_item_div_button {
  display: flex;
  width: auto;
  height: auto;
  background-color: #576ff8;
  outline: none;
  color: #fff;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
  z-index: 2;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 11.8px;
  font-weight: 500;
  border: 0px;
  padding-top: 3px;
  padding-bottom: 5px;
  margin-left: 15px;
  border-radius: 24px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 7px;
  justify-content: center;
  align-items: center;
}
#favorite_item_div_button:hover{
  display: flex;
  width: auto;
  height: auto;
  background-color: #576ff8c5;
  outline: none;
  color: #fff;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
  z-index: 2;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 11.8px;
  font-weight: 500;
  border: 0px;
  padding-top: 3px;
  padding-bottom: 5px;
  margin-left: 15px;
  border-radius: 24px;
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 7px;
  justify-content: center;
  align-items: center;
}
.controlbox_mid{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
}
.controlbox_mid1{
  width: auto;
  height: 25px;
  display: flex;
  flex-direction: row;
}
.controlbox_mid2{
  width: auto;
  height: 25px;
  display: flex;
  flex-direction: row;
}
.controlbox_mid1_1{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.controlbox_mid1_1 p{
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 11px;
  font-weight: 500;
  margin-left: 10px;
  color: rgb(51, 51, 51);
}
.controlbox_mid1_2{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.controlbox_mid1_2 p{
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 11px;
  font-weight: 500;
  margin-left: 10px;
  color: rgb(51, 51, 51);
}
.controlbox_mid2_1{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.controlbox_mid2_2{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}
.controlbox_mid2_1 p{
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 700;
  margin-left: 10px;
  color: #4056fc;
}
.controlbox_mid2_2 p{
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-left: 10px;
  color: #7481e6;
}
.controlbox_range{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;
  align-items: center;
  justify-content: center;
}
.gonbak2{
  width: 100%;
  height: 30px;
  display: flex;
}