#bar {
  position: absolute;
  top: 12px;
  left: 11px;
  width: 354px;
  height: 50px;
  border-radius: 3px;
  border: 1px solid #cecece;
  border-bottom: 1px solid #c0c0c0;
  border-top: 1px solid #e9e9e9;
  background-color: #fff;
  z-index: 2;
}

div#keyword_search {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 10px 10px;
  height: 51px;
  background-color: #fff;
  text-align: center;
}
input.keyword {
  padding: 0px;
  border: 0px;
  height: 31px;
  float: left;
  width: 300px;
  font-size: 16px;
}

#base {
  background: #2929a3;
  display: inline-block;
  height: 44px;
  margin-left: 8px;
  margin-top: 22px;
  position: relative;
  width: 60px;
}
#base:before {
  border-bottom: 14px solid #2929a3;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  top: -14px;
  width: 0;
}

span.name {
  padding-left: 5px;
  padding-top: 10px;
  color: white;
  font-size: 10px;
}

div.avg_value {
  padding-left: 5px;
  color: white;
  font-weight: bold;
}

.level_box{
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.level_box:hover>#box_avg{
  width: auto;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 0px;
  margin-right: 5px;
  background-color: #5f71f8af;
  margin-bottom: 5px;
  border-radius: 24px;
}
#box_name{
  width: auto;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: lightgreen;
}
#box_avg{
  width: auto;
  font-size: 12px;
  margin-left: 5px;
  margin-top: 0px;
  margin-right: 5px;
  background-color: #5f71f8e8;
  margin-bottom: 5px;
  border-radius: 24px;
}
#box_avg_p{
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 4px;
  margin-bottom: 3px;
  color: white;
}
#box_img{
  width: 35px;
  height: 35px;
  background-image: url("./building.png");
  background-size: cover;
}
.range_level_box{
  display: flex;
  width: auto;
  height: auto;
  background-color: #3f52e6;
  border: 1.5px solid #5f71f8;
  border-radius: 10px;
  flex-direction: column;
  
}
#range_level_box1{
  display: flex;
  width: auto;
  height: auto;
  font-size: 13px;
  color: white;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 1px;
}
#range_level_box2{
  display: flex;
  width: auto;
  height: auto;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: white;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}
.range_level_box2{
  display: flex;
  width: auto;
  height: auto;
  background-color: #724ef5;
  border: 1.5px solid #5f71f8;
  border-radius: 10px;
  flex-direction: column;
  
}
#range_level_box3{
  display: flex;
  width: auto;
  height: auto;
  font-size: 13px;
  color: white;
  font-weight: 500;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 2px;
  margin-bottom: 1px;
}
#range_level_box4{
  display: flex;
  width: auto;
  height: auto;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
  color: white;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
}
