@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
.keyword_main{
    display: block;
    border: 1px solid red;
    width: 354px;
    height: 104px;
    position: absolute;
    top: 12px;
    left: 11px;
    border-radius: 3px;
    border: 1px solid #cecece;
    border-bottom: 1px solid #c0c0c0;
    border-top: 1px solid #e9e9e9;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
    z-index: 2;
}

.keyword_div{
    display: block;
    width: 354px;
    height: 51px;
    border-bottom:1px solid rgb(228, 228, 228);
    background-color: #eb6c63;
}
.keyword_div input{
    height: 31px;
    width: 236px;
    border:none;
    padding-left: 48px;
    padding-right: 70px;
    padding-top: 9px;
    padding-bottom: 5px;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-clip: content-box;
    
}
.keyword_div input::before{
    border-radius: 8px;
}
.keyword_div input::placeholder {
    color: rgb(175, 175, 175);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
.keyword_div a{
    background-image: url("../img/home.png");
    position: absolute;
    top: 15px;
    left: 16px;
    display: inline-block;
    overflow: hidden;
    width: 21px;
    height: 21px;
    line-height: 999em;
    vertical-align: top;
    color: #333;
    text-decoration: none;
    background-size: cover;
}
.keyword_div button{
    position: absolute;
    top: 16px;
    right: 16px;
    background-image: url("../img/search.png");
    background-size: cover;
    border: none;
    outline: none;
    width: 17px;
    height: 17px;
    background-color: #eb6c63;
}
.realtime_visitor{
    display: block;
    width: 354px;
    height: 52px;
    overflow:hidden;
}
ul,li{list-style:none;}
.realtime_visitor_div{
    width: 309px;
    height: 52px;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.realtime_visitor_div_num{
    display: flex;
    width: 30px;
    height: 52px;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 17px;
    font-weight: 600;
    color: #eb6c63;
}
.realtime_visitor_div_name{
    display:inline-block;
    width: 190px;
    background-color: white;
    height: 34px;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 18px;

}
.realtime_visitor_div_visitornum{
    display: flex;
    width: 80px;
    height: 52px;
    background-color: white;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    justify-content: flex-end;
    align-items: center;
    color: rgb(173, 173, 173);

}
.realtime_visitor ul{height:calc(100% * 4);animation:slide 12s infinite; width: 309px; padding-left: 0px;}
.realtime_visitor li{height:calc(100% / 4);}
.realtime_visitor li:nth-child(1){background:#ffa;}
.realtime_visitor li:nth-child(2){background:#faa;}
.realtime_visitor li:nth-child(3){background:#afa;}
.realtime_visitor li:nth-child(4){background:#aaf;}

    @keyframes slide {
      0% {margin-top:0;}
      10% {margin-top:0;}
      25% {margin-top:-52px;}
      35% {margin-top:-52px;}
      50% {margin-top:-104px;}
      60% {margin-top:-104px;}
      75% {margin-top:-156px;}
      85% {margin-top:-156px;}
      100% {margin-top:0;}
    }
.realtime_visitor_button{
    position: absolute;
    right: 0px;
    top: 52px;
    width: 40px;
    height: 52px;
    background-color: white;
    background-image: url("../img/down-arrow.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    outline: none;
    z-index: 2;
}
.show_realtime_visitor{
    position: absolute;
    top:50px;
    left: -1px;
    height: 300px;
    width: 354px;
    background-color: blue;
    z-index: 4;
    border-radius: 0px 0px 3px 3px;
    border: 1px solid #cecece;
    border-bottom: 1px solid #c0c0c0;
    border-top: 1px solid #e9e9e9;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
}

.show_realtime_visitor_title{
    display:  flex;
    height: 50px;
    width: 100%;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    justify-content: flex-start;
    align-items: center;
}
.show_realtime_visitor_title p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15.5px;
    font-weight: 600;
    color: #333;
    margin-left: 20px;
}
.show_realtime_visitor_button{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    height: 50px;
    background-color: white;
    background-image: url("../img/up-arrow.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    outline: none;
}
.show_realtime_visitor_main{
    height: 250px;
    width: 100%;
    background-color: white;
}
.show_realtime_visitor_main ul{
    margin: 0;
    padding-left: 0;
}

.show_realtime_visitor_row{
    width: 100%;
    height: 45px;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.show_realtime_visitor_row_1{
    height: 40px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.show_realtime_visitor_column_1{
    display: flex;
    width: 30px;
    height: 100%;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13.5px;
    font-weight: 500;
}
.show_realtime_visitor_column_2{
    display: flex;
    width: 220px;
    height: 100%;
    background-color: white;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    margin-left: 10px;
}
.show_realtime_visitor_column_3{
    display: flex;
    width: 74px;
    height: 100%;
    background-color: white;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14.5px;
    font-weight: 400;
    margin-right: 10px;
    color: #333
}
.show_realtime_visitor_main_end{
    width: 344px;
    height: 30px;
    background-color: white;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 13.5px;
    font-weight: 500;
    margin-right: 10px;
    color: #484848
}