.region_search{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 375px;
    bottom: 120px;
    z-index: 11;
    border: 1px solid #cecece;
    border-bottom: 1px solid #c0c0c0;
    border-top: 1px solid #e9e9e9;
    background-color: #fff;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 8%), -1px 1px 1px rgb(0 0 0 / 3%), 1px 1px 1px rgb(0 0 0 / 3%);
    border-radius: 3px;
}
.search_bar{
    width: 100%;
    height: 111px;
    background-color: #eb6c63;
}
.search_bar_input_div{
    width: 100%;
    height: 60px;
    background-color: #eb6c63;
}
.search_bar_input_div input{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 31px;
    width: 236px;
    border: none;
    padding-left: 48px;
    padding-right: 70px;
    padding-top: 8px;
    padding-bottom: 5px;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    z-index: 17;
    border-radius: 3px;
}
.search_bar_input_div input::placeholder {
    color: rgb(175, 175, 175);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

.search_bar_input_div a{
    background-image: url("../img/home_red.png");
    position: absolute;
    top: 23px;
    left: 24px;
    display: inline-block;
    overflow: hidden;
    width: 21px;
    height: 21px;
    line-height: 999em;
    vertical-align: top;
    color: #333;
    text-decoration: none;
    background-size: cover;
    z-index: 20;
}
.search_bar_input_div button{
    position: absolute;
    top: 24px;
    right: 26px;
    background-image: url("../img/magnifying-glass_red.png");
    background-size: cover;
    border: none;
    outline: none;
    width: 17px;
    height: 17px;
    background-color: white;
    z-index: 20;
}

.search_bar_title{
    display: flex;
    margin-top: 0px;
    width: 100%;
    height: 45px;
    background-color: #eb6c63;
    justify-content: center;
    align-items: center;
}
.search_bar_title_string{
    display: inline-block;
    width: 270px;
    height: 45px;
    background-color: #eb6c63;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.search_bar_title_string p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 19px;
    font-weight: 400;
    color: white;
    margin: 0;
    margin-top: 10px;
    text-align: center;
}
.search_bar_backbutton{
    position: absolute;
    top: 71px;
    left: 18px;
    background-image: url("../img/left_arrow.png");
    background-size: cover;
    border: none;
    outline: none;
    width: 25px;
    height: 25px;
    background-color: #eb6c63;
    z-index: 20;
}
.search_bar_canclebutton{
    position: absolute;
    top: 76px;
    right: 18px;
    background-image: url("../img/cancel_white.png");
    background-size: cover;
    border: none;
    outline: none;
    width: 16px;
    height: 16px;
    background-color: #eb6c63;
    z-index: 20;
}

.show_select_region_maindiv{
    display: flex;
    position: absolute;
    margin-top: 111px;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow-y: auto;
    background-color: white;
    flex-direction: column;

}
.show_select_region_div{
    width: 100%;
    background-color: blue;
    margin-top: 40px;
}
.show_select_region_div_default{
    width: 100%;
    background-color: white;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.show_select_region_div_default p{
    margin:0;
    margin-left: 15px;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    color: #eb6c63;
}
.show_select_region_div_show_region{
    width: 100%;
    background-color: white;
}
.show_select_region_div_show_region ul{
    padding-left: 20px;
}
.show_select_region_div_show_region li{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    margin-bottom: 15px;
}
.show_select_region_div_show_region li:before { /* the custom styled bullets */
    background-color: #eb6c63;
    border-radius: 50%;
    content: "";
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
    height: 8px;
    width: 8px;
  }