@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@500&display=swap");
.main {
  display: flex;
  flex-direction: column;
}
.region {
  display: flex;
  height: 100px;
  flex-direction: column;
  margin-top: 20px;
}
.region1 {
  display: flex;
  flex: 0.34;
  justify-content: flex-start;
  margin-left: 30px;
}
.region1in1 {
  display: flex;
  flex: 0.3;
  height: 30px;
  background-color: #00bcd4;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}
.region1in1 p {
  margin: 0;
  font-family: "Do Hyeon", sans-serif;
  font-weight: 300;
  color: white;
}
.region2 {
  display: flex;
  flex: 0.6;
}
.regionselect {
  display: flex;
  flex: 0.2;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.regionselect_p {
  font-size: 14px;
  font-weight: 500;
  font-family: "Noto Sans KR", sans-serif;
}
.regionselect2 {
  display: flex;
  flex: 0.6;
  min-width: 300px;
  justify-content: center;
  align-items: center;
}
.regionselect2 select {
  width: 120px;
  margin-right: 20px;
  height: 24px;
}
.money_select {
  display: flex;
  flex: 0.6;
  align-items: center;
  justify-content: center;
}
.money {
  display: flex;
  height: 120px;
  flex-direction: column;
  margin-top: 20px;
}
.meme {
  display: flex;
  width: 150px;
  height: 35px;
  background-color: rgb(105, 105, 105);
  margin-right: 20px;
  border: 1px solid rgb(105, 105, 105);
  justify-content: center;
  align-items: center;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.junse {
  display: flex;
  width: 150px;
  height: 35px;
  background-color: white;
  margin-right: 20px;
  border: 1px solid rgb(105, 105, 105);
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.wallse {
  display: flex;
  width: 150px;
  height: 35px;
  background-color: white;
  margin-right: 20px;
  border: 1px solid rgb(105, 105, 105);
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.work {
  display: flex;
  height: 120px;
  flex-direction: column;
  margin-top: 20px;
}
.work_select {
  display: flex;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: center;
}
.work_select input {
  flex: 0.6;
  height: 30px;
  margin-left: 30px;
  border: 2px solid #00bcd4;
}
.work_select button {
  height: 36px;
  background-color: #00bcd4;
  border: 2px solid #00bcd4;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
}
.selector {
  display: flex;
  height: 360px;
  flex-direction: column;
  margin-top: 20px;
}
.selector_div1 {
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  margin-top: 20px;
}
.selector_div2 {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.selector_div3 {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.selector_div4 {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.selector_div5 {
  display: flex;
  width: 100%;
  height: 40px;
  margin-top: 10px;
}
.selector_1 {
  display: flex;
  flex: 0.1;
  justify-content: flex-start;
  margin-left: 30px;
}
.selector_img {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border-radius: 100%;
}
.selector_p {
  display: flex;
  height: 30px;
  margin-left: 10px;
  align-items: center;
  text-align: center;
}
.selector_p p {
  margin: 0;
  font-size: 16px;
  font-family: "Noto Sans KR", sans-serif;
}
.leftmenubuttton {
  width: 100%;
  height: 40px;
  background-color: #00bcd4;
  outline: none;
  border: 0px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: white;
}
