@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Noto+Sans+KR:wght@500&display=swap");
.topdiv {
  width: 100%;
  height: 100px;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(209, 208, 208);
}
.topname {
  display: flex;
  flex: 0.07;
  min-width: 170px;

  align-items: center;
  justify-content: center;

  margin-left: 30px;
}
.topname1 {
  font-family: "Do Hyeon", sans-serif;
  font-size: 33px;
  margin-left: 10px;
}
.topname2 {
  font-family: "Do Hyeon", sans-serif;
  font-size: 25px;
  margin-left: 5px;
}
.topmenu1 {
  flex: 0.05;
  min-width: 150px;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topmenu2 {
  flex: 0.05;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topmenu3 {
  flex: 0.05;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topmenu4 {
  flex: 0.05;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topmenu5 {
  flex: 0.05;
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.topmenupre1 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 600;
}
.topmenupre2 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  margin-top: 5px;
}
.topmenupre3 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 600;
}
.topmenupre4 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  margin-top: 5px;
}
.topmenupre5 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 22px;
  margin-bottom: 0;
  font-weight: 600;
}
.topmenupre6 {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  margin-top: 5px;
}
